---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// --------------------------------
// Bootstrap
// --------------------------------
$font-family-base: 'Open Sans', sans-serif;
$brand-primary: lighten(#326B7E, 10%); // blue, opposite of orange from chair on color wheel
@import "bootstrap/bootstrap";

// --------------------------------
// Styles for the site
// --------------------------------

$body-color: #7E7E7E; // medium grey
$image-background-color: lighten(#DBD8D3, 15%); // grey from the wall

// General styles
.btn, .btn:focus, .form-control {
	border-color: black;
	color: black;
	background-color: transparent; 
	&::-webkit-input-placeholder {
		color: darken($image-background-color, 30%);
	}
}
.btn:hover {
	background-color: fade-out(black, .9);
	transition: 0.35s;
}

::-webkit-input-placeholder {
	color: white;
}

// Styles for the main graphic + name + tagline

.headline-large {
	display: none;
	@media (min-width: 768px) {
		display: block; 
		background-image: url(/images/Jen_2015-18.jpg);
	}
	@media (min-width: 768px) and (max-width: 992px) {
		background-position: -150px;
	}
	height: 800px;
	background-size: cover;
    background-color: $image-background-color;
	color: black;
	padding-top: 100px;
	padding-bottom: 75px;
	margin-bottom: 50px;
	padding-left: 50px;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 300;
	a { color: black; }

	h1 {
		font-size: 52px;
		letter-spacing: -0.06em;
		line-height: 1.5;
		font-weight: bold;
	}

	.tagline {
		.tagline-2 {
			font-size: 80%;
			padding-top: 5px;
		}
	}

	.headline-contact {
		padding-top: 50px;
		line-height: 2;
		font-weight: 300;

		@media (min-width: 768px) {
			padding-top: 70px;
			padding-left: 50px;
		}
		@media (min-width: 1200px) {
			padding-top: 100px;
			padding-left: 0px;
		}
	}
}

.headline-small {
	@media (max-width: 767px) { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.85) 100%), url(/images/Jen_2015-18_Small.jpg); }
	@media (min-width: 768px) { display: none; }
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
    background-color: $image-background-color;
	color: white;
	padding-top: 220px;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 300;
	text-shadow: 0px 0px 25px black;
	text-align: right;
	a { color: white; }

	h1 {
		font-size: 52px;
		letter-spacing: -0.06em;
		line-height: 1.0;
		font-weight: bold;
	}

	.headline-contact {
	}
}
.tagline-small {
	@media (min-width: 768px) { display: none; }
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 22px;
	color: black;
	text-align: center;
	.tagline-2 {
		color: $body-color;
		font-size: 16px;
		padding-top: 5px;
	}
}

// Styles for the "I help busy people..."
.byline {
	padding: 50px;
	font-size: 22px;
	font-style: italic;
	color: $body-color;
	font-weight: 300;
	line-height: 1.5em;
	@extend .text-center;
}

// Styles for the list of services / features
.services {
	.icon {
		font-size: 50px;
		color: $brand-primary;
		@extend .text-center;
	}
	.title {
		@extend .text-center;		
		font-weight: bold;
		font-size: 22px;
	}
	.list {
		font-size: 16px;
		font-weight: 300;
		color: $body-color;
		@extend .text-center;
		ul { padding: 0}
		li { list-style-type: none; }
	}
	.text {
		font-size: 12pt;
		font-weight: 300;
		color: $body-color;
		@extend .text-center;		
		padding-left: 50px;
		padding-right: 50px;
	}
}

// Styles for quotes from testimonals 
.quote {
	padding: 50px;
	font-size: 22px;
	font-style: italic;
	color: $body-color;
	font-weight: 300;
	line-height: 1.5em;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	@extend .text-center;
	.fancy {
		font-family: 'Times New Roman';
		font-size: 48px;
		position : relative;
		top: 15px;
		padding-left: 5px;
		padding-right: 10px;
	}
	.name {
		padding-left: 150px;
		font-size: 18px;
	}

}

// Styles for the contact form at the bottom
.contact {
	background-color: darken($image-background-color, 15%);
	//background-image: linear-gradient(45deg, #E2DDD7, #C0BEBE);
	background-image: radial-gradient(50% 50%, $image-background-color, darken($image-background-color, 10%) 100%);
	color: black;
	padding-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 300;
	a { color: black; }

	h2 {
		font-size: 36px;
		font-weight: 300;
	}

	.quick-links {
		padding-top: 10px;
		padding-bottom: 25px;

		.email {
			padding-right: 25px;
			white-space: nowrap;
		}
		.tel {
			white-space: nowrap;
		}

	}
}

