---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// --------------------------------
// Bootstrap
// --------------------------------
$font-family-base: 'Open Sans', sans-serif;
$brand-primary: lighten(#326B7E, 10%); // blue, opposite of orange from chair on color wheel
@import "bootstrap/bootstrap";

// --------------------------------
// Styles for the site
// --------------------------------

$body-color: #7E7E7E; // medium grey
$image-background-color: lighten(#DBD8D3, 15%); // grey from the wall

// General styles
.btn, .btn:focus, .form-control {
	border-color: black;
	color: black;
	background-color: transparent; 
	&::-webkit-input-placeholder {
		color: darken($image-background-color, 30%);
	}
}
.btn:hover {
	background-color: fade-out(black, .9);
	transition: 0.35s;
}

::-webkit-input-placeholder {
	color: white;
}

// Styles for the main graphic + name + tagline
.headline {
	background-size: cover;
    background-color: darken($image-background-color, 15%);
    background-image: radial-gradient(50% 50%, $image-background-color, darken($image-background-color, 15%) 100%);	height: 750px;
	background-image: url(/images/Jen_2015-18.jpg);
	color: black;
	padding-top: 100px;
	padding-bottom: 75px;
	margin-bottom: 50px;
	padding-left: 50px;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 300;
	a { color: black; }

	h1 {
		font-size: 52px;
		letter-spacing: -0.06em;
		line-height: 1.5;
		font-weight: bold;
	}

	.headline-contact {
		padding-top: 100px;
		line-height: 2;
		font-weight: 300;
	}
}

// Styles for the "I help busy people..."
.byline {
	padding: 50px;
	font-size: 22px;
	font-style: italic;
	color: $body-color;
	font-weight: 300;
	line-height: 1.5em;
	@extend .text-center;
}

// Styles for the list of services / features
.services {
	.icon {
		font-size: 50px;
		color: $brand-primary;
		@extend .text-center;
	}
	.title {
		@extend .text-center;		
		font-weight: bold;
		font-size: 22px;
	}
	.list {
		font-size: 16px;
		font-weight: 300;
		color: $body-color;
		@extend .text-center;
		ul { padding: 0}
		li { list-style-type: none; }
	}
	.text {
		font-size: 12pt;
		font-weight: 300;
		color: $body-color;
		@extend .text-center;		
		padding-left: 50px;
		padding-right: 50px;
	}
}

// Styles for quotes from testimonals 
.quote {
	padding: 50px;
	font-size: 22px;
	font-style: italic;
	color: $body-color;
	font-weight: 300;
	line-height: 1.5em;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	@extend .text-center;
	.fancy {
		font-family: 'Times New Roman';
		font-size: 48px;
		position : relative;
		top: 15px;
		padding-left: 5px;
		padding-right: 10px;
	}
	.name {
		padding-left: 150px;
		font-size: 18px;
	}

}

// Styles for the contact form at the bottom
.contact {
	background-color: darken($image-background-color, 15%);
	//background-image: linear-gradient(45deg, #E2DDD7, #C0BEBE);
	background-image: radial-gradient(50% 50%, $image-background-color, darken($image-background-color, 10%) 100%);
	color: black;
	padding-top: 35px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 300;
	a { color: black; }

	h2 {
		font-size: 36px;
		font-weight: 300;
	}

	.quick-links {
		padding-top: 10px;
		padding-bottom: 25px;
		.tel {
			padding-left: 25px;
		}

	}
}

